# Country GDP

DESCRIPTION

Problem Statement: Evaluate the dataset containing the GDPs of different countries to:
Find and print the name of the country with the highest GDP
Find and print the name of the country with the lowest GDP
Print out text and input values iteratively
Print out the entire list of the countries with their GDPs
Print the highest GDP value, lowest GDP value, mean GDP value, standardized GDP value, and the sum of all the GDPs

In [2]:
import numpy as np
country = np.array(['Argentina','Australia','Austria','Bahamas','Bangladesh','Belarus','Belgium',
                      'Bhutan','Brazil','Cambodia','Cameroon','Chile','China','Colombia','Denmark','Guinea','Haiti',
                    'Honduras','Hungary','India','Indonesia','Ireland','Italy','Japan','Kenya',
                      'South Korea','Liberia','Malaysia','Mexico', 'Morocco','Nepal','New Zealand',
                   'Russia','Singapore','South Africa','Spain','Sweden','Switzerland','Thailand',
                      'United Arab Emirates','United Kingdom','United States','Uruguay',
                      'Venezuela','Vietnam','Zimbabwe'])
gdp = np.array([2255.225482,629.9553062,11601.63022,25306.82494,27266.40335,19466.99052,588.3691778,
            2890.345675,24733.62696,1445.760002,4803.398244,2618.876037,590.4521124,665.7982328,7122.938458,2639.54156,
                  3362.4656,15378.16704,30860.12808,2579.115607,6525.541272,229.6769525,2242.689259,27570.4852,
                  23016.84778,1334.646773,402.6953275,6047.200797,394.1156638,385.5793827,1414.072488,5745.981529,
                  837.7464011,1206.991065,27715.52837,18937.24998,39578.07441,478.2194906,16684.21278,279.2204061,
                  5345.213415,6288.25324,1908.304416,274.8728621,14646.42094,40034.85063])

Find and print the name of the country with the highest GDP

In [3]:
high_gdp = gdp.argmax()
print("Index of the max element:", high_gdp)
country_name = country[high_gdp]
print("Name of the country having highest GDP:", country_name)

Index of the max element: 45
Name of the country having highest GDP: Zimbabwe

Find and print the name of the country with the lowest GDP

In [5]:
low_gdp = gdp.argmin()
print("Index of the max element:", low_gdp)
country_name_low = country[low_gdp]
print("Name of the country having Lowest GDP:", country_name_low)

Index of the max element: 21
Name of the country having Lowest GDP: Ireland

Print out text and input values iteratively

Print out the entire list of the countries with their GDPs

In [9]:
for i in range(len(country)):
    countries_name = country[i]
    gdp_list = gdp[i]
    print(countries_name,"per capita GDP is",gdp_list,"\n")

Argentina per capita GDP is 2255.225482

Australia per capita GDP is 629.9553062

Austria per capita GDP is 11601.63022

Bahamas per capita GDP is 25306.82494

Bangladesh per capita GDP is 27266.40335

Belarus per capita GDP is 19466.99052

Belgium per capita GDP is 588.3691778

Bhutan per capita GDP is 2890.345675

Brazil per capita GDP is 24733.62696

Cambodia per capita GDP is 1445.760002

Cameroon per capita GDP is 4803.398244

Chile per capita GDP is 2618.876037

China per capita GDP is 590.4521124

Colombia per capita GDP is 665.7982328

Denmark per capita GDP is 7122.938458

Guinea per capita GDP is 2639.54156

Haiti per capita GDP is 3362.4656

Honduras per capita GDP is 15378.16704

Hungary per capita GDP is 30860.12808

India per capita GDP is 2579.115607

Indonesia per capita GDP is 6525.541272

Ireland per capita GDP is 229.6769525

Italy per capita GDP is 2242.689259

Japan per capita GDP is 27570.4852

Kenya per capita GDP is 23016.84778

South Korea per capita GDP is 1334.646773

Liberia per capita GDP is 402.6953275

Malaysia per capita GDP is 6047.200797

Mexico per capita GDP is 394.1156638

Morocco per capita GDP is 385.5793827

Nepal per capita GDP is 1414.072488

New Zealand per capita GDP is 5745.981529

Russia per capita GDP is 837.7464011

Singapore per capita GDP is 1206.991065

South Africa per capita GDP is 27715.52837

Spain per capita GDP is 18937.24998

Sweden per capita GDP is 39578.07441

Switzerland per capita GDP is 478.2194906

Thailand per capita GDP is 16684.21278

United Arab Emirates per capita GDP is 279.2204061

United Kingdom per capita GDP is 5345.213415

United States per capita GDP is 6288.25324

Uruguay per capita GDP is 1908.304416

Venezuela per capita GDP is 274.8728621

Vietnam per capita GDP is 14646.42094

Zimbabwe per capita GDP is 40034.85063

Print the mean GDP value, standardized GDP value, and the sum of all the GDPs

In [10]:
print("Mean GDP Value is:", gdp.mean())
print("Standardized GDP Value is:", gdp.std())
print("Sum of all GDPs is:", gdp.sum())

Mean GDP Value is: 9485.450074665217
Standardized GDP Value is: 11379.300462246356
Sum of all GDPs is: 436330.70343460003